body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('space.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.center-container {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 108px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 5px;
    padding-top: 20vh;
    padding-bottom: 25vh;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.3), 0 0 20px rgba(255, 0, 0, 0.3), 0 0 30px rgba(255, 0, 0, 0.3), 0 0 40px rgba(255, 0, 0, 0.3);
    animation: neon-flicker 1s ease-in-out infinite alternate;
}