body {
    background-color: #000;
    color: #0f0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#score {
    background-color: #000;
    border: 3px solid #0f0;
    padding: 20px;
    margin: 20px;
    font-size: 1.5em;
}

.button-container {
    margin-top: 20px;
}

.menu-button {
    background-color: #000;
    color: #0f0;
    border: 2px solid #0f0;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #0f0;
    color: #000;
}