.socket-container{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 350px;
    height: 200px;
    overflow: hidden;
}

#socket-feed {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Hidden socket feed parent element */
/* This parent element is used to prepend messages before it */
.hidden {
    display: none;
}

/* SOCKET P ELEMENTS */
#socket-feed > p {
    font-size: 10px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    overflow-wrap: break-word;
    background-color: #0c1353;
    color: white;
}